@import './variables';

form {
    @include flexCenter(column, center, center);
    gap: 10px;
}

.cvForm {
    padding: 20px;
    grid-area: cvForm;

    .logo {
        @include flexCenter(row, center, space-evenly);

    }
    
    
    .createdBy {
        text-align: center;
    }
    
    input {
        width: 100%;
        background-color: rgb(41, 41, 41);
    }

    textarea {
        background-color: rgb(41, 41, 41);
    }
    
    .personalData, 
    .experience, 
    .skills, 
    .education, header {
        background-color: $secondaryColor;
    }
    
    .namesSection, 
    .contactsSection {
        display: flex;
    }
}

header {
    button {
        background-color: $primaryColor;
        border: none;
    }
}

.newBtn {
    background-color: rgb(41, 41, 41);
    color: white;
}

.cvForm > div ~ * {
    margin-top: 15px;
}