@import './variables';

.cvPreview {
    height: 29cm;
    width: 21cm;
    border: 2px solid;
    padding: 40px;
    grid-area: cvPreview;
}

.head {
    @include flexCenter(row, center, space-between)
}

.image {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
}

.experience, .grouped, .group1, .group2 {
    display: flex;
}