@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap);
@import './variables';

.cvPreview {
    position: sticky;
    top: 30px;
    height: 29.63cm;
    width: 21cm;
    padding: 15px 75px 0 85px;

    background: linear-gradient(124deg, rgba(92,54,13,1) 5%, rgba(0,0,0,1) 29%, rgba(0,0,0,1) 73%, rgba(92,54,13,1) 94%);
    color: white;

    font-family: Montserrat, sans-serif;
    font-size: 14px;

    box-shadow:  0px 5px 15px rgba(92,54,13,1), -0px -5px 30px rgba(92,54,13,1);
    grid-area: cvPreview;

    .head {
        @include flexCenter(row, center, space-between);
        margin-top: 25px;
    }

    h1, 
    h2 {
        margin: 0;
        font-family: Alfa Slab One, sans-serif;
        font-size: 38px;
        letter-spacing: 2px;
    }

    .lastName {
        position: relative;
        left: 70px;
    }

    .developer {
        @include flexCenter(row, center, center);
        height: 40px;
        width: 210px;
        margin: 20px 0 15px 0;

        background-color: $primaryColor;
        color: $color-black;
        
        font-size: 0.9375rem;
        border-radius: 20px;
    }
    
    .picture {
        position: relative;
        @include flexCenter(row, center, center);
        right: 20px;
        height: 90px;
        width: 90px;
        background-color: white;
        border-radius: 50%;
    }

    .picture img {
        height: 140px;
    }

    .pitch {
        font-style: italic;
    }

    hr {
        margin: 20px 0 20px 0;
    }

    h2 {
        font-size: 1.625rem;
    }
    
    .experience, 
    .education-skills,
    .skills,
    .contacts,
    .location-mail > div, 
    .number-portfolio > div {
        display: flex;
    }

    .experience {
        gap: 30px;
    }

    .experience > div {
        width: max(100%, 302px);
    }

    .experience > div p:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .education, 
    .skillsSection {
        width: 100%;
    }

    .position, 
    .universityName {
        color: $primaryColor;
    }

    .education-skills {
        margin-top: 15px;
        gap: 30px;
    }

    .educationSection, 
    .skillsSection {
        width: 302px;
    }

    .skillsSection h2 {
        margin-bottom: 14px;
    }

    .skills {
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        left: 13px;
        height: 150px;
        gap: 25px;

        p {
            margin: 0;
            display: list-item;
        }
    }
    
    .contacts {
        gap: 30px;
    }

    .location-mail, 
    .number-portfolio {
        display: flex;
        flex-direction: column;
        width: 302px;
        margin: 10px 0 10px 0;
        gap: 30px;
    }

    .location-mail > div,
    .number-portfolio > div {
        align-items: center;
        gap: 10px;

        p{
            word-break: break-all
        }
    }

    .imgHolder {
        @include flexCenter(row, center, center);
        height: 40px;
        width: 40px;
        background-color: $primaryColor;
        border-radius: 50%;
        flex-shrink: 0;
    }

    img {
        height: 32px;
    }
    
}